._1KiHb9tdvCYTJFeat-Z-x9{
    margin-right: 20px;
}
._2FFuiZFYbdFmnJrVT1iaUH {
  color: red;
}

._2m-tRQCR6AIlWo0fby6qre {
  background-image: url(/img/jienuo_qibeilin.13cb4.png);
}

._3AqOv3QlbeC6UjoqhiOKLt{
    margin-right: 20px;
}
body {
  margin: 0;
}

